<style>
.wv-custom-header {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  max-height: 100vh;
  position: sticky;
  top: 0;
  padding: 10px;
  width: 200px;
}
.wv-custom-header .header-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wv-custom-header .header-list > a {
  cursor: pointer; 
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
  font-weight: bolder;
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  justify-content: flex-start;
}
.wv-custom-header .header-list > a .image-container {
  display: flex;
}
.wv-custom-header .header-list > a svg {
  height: 35px;
  width: 35px;
}
.wv-custom-header .header-list > a span {
  font-size: var(--paragraph-font-size);
  font-family: var(--main-heading-font-family);
}
.wv-custom-header .cart-header-container .image-container {
  position: relative;
}
.wv-custom-header .cart-header-container .image-container .cart-qty-container {
  padding: 1px 6px;
  border-radius: 50%;
  top: -7px;
  right: -10px;
  position: absolute;
  background: var(--accent-color);
  color: var(--off-white);
  width: 23px;
  height: 25px;
  display: flex;
  justify-content: center;
  transition: 1s ease-in-out;
}
#header-cart-count {
  font-size: 14px;
  transition: 0.3s ease-in-out;
  color: var(--off-black);
  transform: scale(1.3);
}
@media screen and (max-width: 450px) {
  .wv-custom-header .header-list > a {
    justify-content: center;
  }
  .wv-custom-header .header-list > a svg {
    height: 35px;
    width: 35px;
  }
}

/* ////////////////////////////////////////////////////////////// */
/* Header mobile view can be found at wv-custom-stylesheet.liquid */
/* ////////////////////////////////////////////////////////////// */

/* Added to cart popup */
#added-to-cart-popup {
  position: absolute;
  top: -180px;
  right: 10px;
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  align-content: center;
  justify-content: center;
  gap: 5px;
  max-width: 450px;
  transition: 0.3s ease-in-out;
  background: var(--pure-white);
}
#added-to-cart-popup img {
  height: 50px;
  width: 50px;
}
#added-to-cart-popup div p,
#added-to-cart-popup div h6 {
  margin: 0;
  padding: 0;
}
#added-to-cart-popup > div {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
#added-to-cart-popup div p {
  font-size: 11px;
}
#added-to-cart-popup div h6 {
  font-size: 14px;
}
#added-to-cart-popup svg {
  height: 15px;
  width: 25px;
  align-self: baseline;
}
@media screen and (max-width: 490px) {
  #added-to-cart-popup {
    max-width: 350px;
  }
}
@media screen and (max-width: 400px) {
  #added-to-cart-popup {
    max-width: 300px;
  }
}

/* Creator profile twinkle animation */
@keyframes twinkle {
  0%, 100% {
    fill: var(--off-black);
  }
  50% {
    fill: var(--accent-color);
  }
}
.creator-profile-link .image-container svg > g > circle:nth-of-type(1) {
  animation: twinkle 1.5s ease-in-out;
  animation-delay: 0s;
}

.creator-profile-link .image-container svg > g > circle:nth-of-type(2) {
  animation: twinkle 1.5s ease-in-out;
  animation-delay: 0.4s;
}

.creator-profile-link .image-container svg > g > path:nth-of-type(2) {
  animation: twinkle 1.5s ease-in-out;
  animation-delay: 0.8s;
}

.creator-profile-link .image-container svg > g > path:nth-of-type(3) {
  animation: twinkle 1.5s ease-in-out;
  animation-delay: 1.2s;
}

.creator-profile-link .image-container svg > g > path:nth-of-type(4) {
  animation: twinkle 1.5s ease-in-out;
  animation-delay: 1.6s;
}
</style>

{% assign is_creator = false %}
{% if customer and customer.metafields.custom.creator_page %}
  {% assign is_creator = true %}
{% endif %}

{% assign outside_homepage = false %}
{% if template != 'index' %}
  {% assign outside_homepage = true %}
{% endif %}

{% assign creator_template = false %}
{% if template contains 'int-' or template contains 'creator' or template == 'product' or template == 'customers/account' %}
  {% assign creator_template = true %}
{% endif %}

{% assign internal_page = false %}
{% if template contains 'page' and template != 'product' %}
  {% unless template contains 'pub-' %}
    {% assign internal_page = true %}
  {% endunless %}
{% else %}
  {% assign internal_page = true %}
{% endif %}

{% assign show_creator_header = false %}
{% if is_creator and outside_homepage and creator_template and internal_page %}
  {% assign show_creator_header = true %}
{% endif %}

{% assign creator_sold_product = false %}
{% if template == 'product' %}
  {% for metafieldProduct in customer.metafields.custom.products_sold_by_creator.value %}
    {% if metafieldProduct.id == product.id %}
      {% assign creator_sold_product = true %}
      {% break %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign creator_sold_product = true %}
{% endif %}

{% assign show_creator_header_bool = false %}
{% if show_creator_header and creator_sold_product %}
  {% assign show_creator_header_bool = true %}
{% endif %}

{% if show_creator_header_bool %}
<div class='wv-custom-header wv-custom-header-creator'>
  
  <div class='header-top header-list'>

    <a href='/'>
      <div class='image-container'>
        <svg height="511pt" viewBox="0 1 511 511.999" width="511pt" xmlns="http://www.w3.org/2000/svg" id="fi_1946488"><path d="m498.699219 222.695312c-.015625-.011718-.027344-.027343-.039063-.039062l-208.855468-208.847656c-8.902344-8.90625-20.738282-13.808594-33.328126-13.808594-12.589843 0-24.425781 4.902344-33.332031 13.808594l-208.746093 208.742187c-.070313.070313-.144532.144531-.210938.214844-18.28125 18.386719-18.25 48.21875.089844 66.558594 8.378906 8.382812 19.441406 13.234375 31.273437 13.746093.484375.046876.96875.070313 1.457031.070313h8.320313v153.695313c0 30.417968 24.75 55.164062 55.167969 55.164062h81.710937c8.285157 0 15-6.71875 15-15v-120.5c0-13.878906 11.292969-25.167969 25.171875-25.167969h48.195313c13.878906 0 25.167969 11.289063 25.167969 25.167969v120.5c0 8.28125 6.714843 15 15 15h81.710937c30.421875 0 55.167969-24.746094 55.167969-55.164062v-153.695313h7.71875c12.585937 0 24.421875-4.902344 33.332031-13.8125 18.359375-18.367187 18.367187-48.253906.027344-66.632813zm-21.242188 45.421876c-3.238281 3.238281-7.542969 5.023437-12.117187 5.023437h-22.71875c-8.285156 0-15 6.714844-15 15v168.695313c0 13.875-11.289063 25.164062-25.167969 25.164062h-66.710937v-105.5c0-30.417969-24.746094-55.167969-55.167969-55.167969h-48.195313c-30.421875 0-55.171875 24.75-55.171875 55.167969v105.5h-66.710937c-13.875 0-25.167969-11.289062-25.167969-25.164062v-168.695313c0-8.285156-6.714844-15-15-15h-22.328125c-.234375-.015625-.464844-.027344-.703125-.03125-4.46875-.078125-8.660156-1.851563-11.800781-4.996094-6.679688-6.679687-6.679688-17.550781 0-24.234375.003906 0 .003906-.003906.007812-.007812l.011719-.011719 208.847656-208.839844c3.234375-3.238281 7.535157-5.019531 12.113281-5.019531 4.574219 0 8.875 1.78125 12.113282 5.019531l208.800781 208.796875c.03125.03125.066406.0625.097656.09375 6.644531 6.691406 6.632813 17.539063-.03125 24.207032zm0 0"></path></svg>
      </div>
      <div class='title-container'>
        <span>Home</span>
      </div>
    </a>
  
    <a href='{{ routes.account_url }}'>
      <div class='image-container'>
        <svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg" id="fi_1828765"><path d="m197.332031 170.667969h-160c-20.585937 0-37.332031-16.746094-37.332031-37.335938v-96c0-20.585937 16.746094-37.332031 37.332031-37.332031h160c20.589844 0 37.335938 16.746094 37.335938 37.332031v96c0 20.589844-16.746094 37.335938-37.335938 37.335938zm-160-138.667969c-2.941406 0-5.332031 2.390625-5.332031 5.332031v96c0 2.945313 2.390625 5.335938 5.332031 5.335938h160c2.945313 0 5.335938-2.390625 5.335938-5.335938v-96c0-2.941406-2.390625-5.332031-5.335938-5.332031zm0 0"></path><path d="m197.332031 512h-160c-20.585937 0-37.332031-16.746094-37.332031-37.332031v-224c0-20.589844 16.746094-37.335938 37.332031-37.335938h160c20.589844 0 37.335938 16.746094 37.335938 37.335938v224c0 20.585937-16.746094 37.332031-37.335938 37.332031zm-160-266.667969c-2.941406 0-5.332031 2.390625-5.332031 5.335938v224c0 2.941406 2.390625 5.332031 5.332031 5.332031h160c2.945313 0 5.335938-2.390625 5.335938-5.332031v-224c0-2.945313-2.390625-5.335938-5.335938-5.335938zm0 0"></path><path d="m474.667969 512h-160c-20.589844 0-37.335938-16.746094-37.335938-37.332031v-96c0-20.589844 16.746094-37.335938 37.335938-37.335938h160c20.585937 0 37.332031 16.746094 37.332031 37.335938v96c0 20.585937-16.746094 37.332031-37.332031 37.332031zm-160-138.667969c-2.945313 0-5.335938 2.390625-5.335938 5.335938v96c0 2.941406 2.390625 5.332031 5.335938 5.332031h160c2.941406 0 5.332031-2.390625 5.332031-5.332031v-96c0-2.945313-2.390625-5.335938-5.332031-5.335938zm0 0"></path><path d="m474.667969 298.667969h-160c-20.589844 0-37.335938-16.746094-37.335938-37.335938v-224c0-20.585937 16.746094-37.332031 37.335938-37.332031h160c20.585937 0 37.332031 16.746094 37.332031 37.332031v224c0 20.589844-16.746094 37.335938-37.332031 37.335938zm-160-266.667969c-2.945313 0-5.335938 2.390625-5.335938 5.332031v224c0 2.945313 2.390625 5.335938 5.335938 5.335938h160c2.941406 0 5.332031-2.390625 5.332031-5.335938v-224c0-2.941406-2.390625-5.332031-5.332031-5.332031zm0 0"></path></svg>
      </div>
      <div class='title-container'>
        <span>Account</span>
      </div>
    </a>

    <a href='/pages/creator-profile'>
      <div class='image-container'>
        <svg viewBox="-42 0 512 512.001" xmlns="http://www.w3.org/2000/svg" id="fi_1077063"><path d="m210.351562 246.632812c33.882813 0 63.21875-12.152343 87.195313-36.128906 23.96875-23.972656 36.125-53.304687 36.125-87.191406 0-33.875-12.152344-63.210938-36.128906-87.191406-23.976563-23.96875-53.3125-36.121094-87.191407-36.121094-33.886718 0-63.21875 12.152344-87.191406 36.125s-36.128906 53.308594-36.128906 87.1875c0 33.886719 12.15625 63.222656 36.128906 87.195312 23.980469 23.96875 53.316406 36.125 87.191406 36.125zm-65.972656-189.292968c18.394532-18.394532 39.972656-27.335938 65.972656-27.335938 25.996094 0 47.578126 8.941406 65.976563 27.335938 18.394531 18.398437 27.339844 39.980468 27.339844 65.972656 0 26-8.945313 47.578125-27.339844 65.976562-18.398437 18.398438-39.980469 27.339844-65.976563 27.339844-25.992187 0-47.570312-8.945312-65.972656-27.339844-18.398437-18.394531-27.34375-39.976562-27.34375-65.976562 0-25.992188 8.945313-47.574219 27.34375-65.972656zm0 0"></path><path d="m426.128906 393.703125c-.691406-9.976563-2.089844-20.859375-4.148437-32.351563-2.078125-11.578124-4.753907-22.523437-7.957031-32.527343-3.3125-10.339844-7.808594-20.550781-13.375-30.335938-5.769532-10.15625-12.550782-19-20.160157-26.277343-7.957031-7.613282-17.699219-13.734376-28.964843-18.199219-11.226563-4.441407-23.667969-6.691407-36.976563-6.691407-5.226563 0-10.28125 2.144532-20.042969 8.5-6.007812 3.917969-13.035156 8.449219-20.878906 13.460938-6.707031 4.273438-15.792969 8.277344-27.015625 11.902344-10.949219 3.542968-22.066406 5.339844-33.042969 5.339844-10.96875 0-22.085937-1.796876-33.042968-5.339844-11.210938-3.621094-20.300782-7.625-26.996094-11.898438-7.769532-4.964844-14.800782-9.496094-20.898438-13.46875-9.753906-6.355468-14.808594-8.5-20.035156-8.5-13.3125 0-25.75 2.253906-36.972656 6.699219-11.257813 4.457031-21.003906 10.578125-28.96875 18.199219-7.609375 7.28125-14.390625 16.121094-20.15625 26.273437-5.558594 9.785157-10.058594 19.992188-13.371094 30.339844-3.199219 10.003906-5.875 20.945313-7.953125 32.523437-2.0625 11.476563-3.457031 22.363282-4.148437 32.363282-.679688 9.777344-1.023438 19.953125-1.023438 30.234375 0 26.726562 8.496094 48.363281 25.25 64.320312 16.546875 15.746094 38.4375 23.730469 65.066406 23.730469h246.53125c26.621094 0 48.511719-7.984375 65.0625-23.730469 16.757813-15.945312 25.253906-37.589843 25.253906-64.324219-.003906-10.316406-.351562-20.492187-1.035156-30.242187zm-44.90625 72.828125c-10.933594 10.40625-25.449218 15.464844-44.378906 15.464844h-246.527344c-18.933594 0-33.449218-5.058594-44.378906-15.460938-10.722656-10.207031-15.933594-24.140625-15.933594-42.585937 0-9.59375.316406-19.066407.949219-28.160157.617187-8.921874 1.878906-18.722656 3.75-29.136718 1.847656-10.285156 4.199219-19.9375 6.996094-28.675782 2.683593-8.378906 6.34375-16.675781 10.882812-24.667968 4.332031-7.617188 9.316407-14.152344 14.816407-19.417969 5.144531-4.925781 11.628906-8.957031 19.269531-11.980469 7.066406-2.796875 15.007812-4.328125 23.628906-4.558594 1.050781.558594 2.921875 1.625 5.953125 3.601563 6.167969 4.019531 13.277344 8.605469 21.136719 13.625 8.859375 5.648437 20.273437 10.75 33.910156 15.152344 13.941406 4.507812 28.160156 6.796875 42.273437 6.796875 14.113282 0 28.335938-2.289063 42.269532-6.792969 13.648437-4.410156 25.058594-9.507813 33.929687-15.164063 8.042969-5.140624 14.953125-9.59375 21.121094-13.617187 3.03125-1.972656 4.902344-3.042969 5.953125-3.601563 8.625.230469 16.566406 1.761719 23.636719 4.558594 7.636719 3.023438 14.121093 7.058594 19.265625 11.980469 5.5 5.261719 10.484375 11.796875 14.816406 19.421875 4.542969 7.988281 8.207031 16.289062 10.886719 24.660156 2.800781 8.75 5.15625 18.398438 7 28.675782 1.867187 10.433593 3.132812 20.238281 3.75 29.144531v.007812c.636719 9.058594.957031 18.527344.960937 28.148438-.003906 18.449219-5.214844 32.378906-15.9375 42.582031zm0 0"></path></svg>
      </div>
      <div class='title-container'>
        <span>Profile</span>
      </div>
    </a>
  
    <a href='/pages/creator-listings'>
      <div class='image-container'>
        <svg id="fi_3642114" height="512" viewBox="0 0 25.399999 25.399999" width="512" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g id="layer2"><path id="path828" d="m87.962891 5.9785156c-.521469.01406-1.017262.2314078-1.38086.6054688l-8.582031 8.5878906-2.585938-2.585937c-1.437649-1.43765-3.091899-2.233024-4.722656-2.277344-.978803-.02661-1.88736.115634-2.966797.265625l-14 1.945312c-5.150634.715685-7.766271 2.922209-11.08789 6.017578l-34.4375002 32.091797c-.013856.01283-.027529.02585-.041016.03906-1.4885038 1.469631-2.133857 3.479427-2.15625 5.457031-.022375 1.977604.601367 4.069957 2.2617188 5.488281l-.1152341-.107419 26.3457035 26.345703-.107422-.115234c1.418326 1.660354 3.510677 2.284113 5.488281 2.261719 1.977604-.0223 3.987403-.667747 5.457031-2.15625.01321-.01349.02624-.02716.03906-.04102l2.365234-2.539062 9.419922 3.509765c2.046304.762432 4.141985.62096 5.931641-.220703 1.789651-.841682 3.349523-2.262327 4.068359-4.226562l10.337894-30.994137c3.078585-3.305357 5.273107-5.9218 5.986328-11.054687l1.945312-14c.15001-1.079505.292195-1.988136.265625-2.966797-.0443-1.630768-.839698-3.28501-2.277344-4.722656l-2.585937-2.585938 8.587891-8.5878906c1.306794-1.2721067.369798-3.487412-1.453125-3.4335938zm-17.38086 8.3300784c.78344.02128.941561.04312 2.003907 1.105468l2.585937 2.585938-4.591797 4.595703c-.783928-.378647-1.656515-.597656-2.578125-.597656-3.290022.000001-6.001953 2.711935-6.001953 6.001953 0 3.290019 2.711931 6.001952 6.001953 6.001953 3.290019-.000001 6.001953-2.711934 6.001953-6.001953 0-.921464-.219121-1.794291-.597656-2.578125l4.59375-4.59375 2.585938 2.585937c1.062349 1.062352 1.084182 1.220479 1.105468 2.003907.01285.469859-.07659 1.227173-.226562 2.30664l-1.945313 14c-.603118 4.340512-1.903479 5.608118-4.982422 8.91211l-32.054687 34.398437c-.518173.523488-1.587114.950827-2.652344.962891-1.066318.01209-1.981612-.369144-2.40039-.859375-.03428-.03981-.07012-.07825-.107422-.115234l-26.345704-26.345704c-.03699-.03731-.07543-.07314-.115234-.107422-.490239-.418779-.871449-1.334068-.859375-2.40039.01206-1.065226.439403-2.134167.962891-2.652344l.002-.002 34.396484-32.052734c3.303995-3.078943 4.571602-4.379305 8.91211-4.982422l14-1.945313c1.079531-.150002 1.836928-.239326 2.30664-.226562zm-2.580078 11.689453c1.128257 0 2 .873694 2 2.001953s-.871743 2-2 2c-1.128261 0-2-.871741-2-2s.871739-2.001953 2-2.001953zm-34.023437 21.984375c-1.792509.0023-2.677341 2.179643-1.394532 3.43164l12.001954 12.003907c1.889323 1.885415 4.717447-.94857 2.828124-2.833985l-12.003906-11.996093c-.376069-.38658-.892315-.60491-1.43164-.605469zm-6.001954 5.99414c-1.801851-.005-2.691074 2.188187-1.394531 3.439454l12.003907 11.996093c1.884384 2.012586 4.840059-.945133 2.826171-2.828125l-11.996093-11.99414c-.37664-.391401-.896267-.612789-1.439454-.613282zm42.951172 6.398438-7.529296 22.574219c-.253229.69191-1.048725 1.528602-2.013672 1.982422-.964948.453815-1.937169.440707-2.541016.214843l-8.15625-3.050781z" transform="scale(.265)" font-variant-ligatures="normal" font-variant-position="normal" font-variant-caps="normal" font-variant-numeric="normal" font-variant-alternates="normal" font-feature-settings="normal" text-indent="0" text-align="start" text-decoration-line="none" text-decoration-style="solid" text-decoration-color="rgb(0,0,0)" text-transform="none" text-orientation="mixed" white-space="normal" shape-padding="0" isolation="auto" mix-blend-mode="normal" solid-color="rgb(0,0,0)" solid-opacity="1" vector-effect="none"></path></g></svg>
      </div>
      <div class='title-container'>
        <span>Listings</span>
      </div>
    </a>
  
    <a href='/pages/new-item'>
      <div class='image-container'>
        <svg id="fi_15526143" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g fill="none"><g stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><circle cx="11.997" cy="12.003" r="11.382"></circle><path d="m11.999 5.403v13.2"></path><path d="m5.399 12.003h13.2"></path></g><path d="m0 .001h24v24h-24z"></path></g></svg>
      </div>
      <div class='title-container'>
        <span>Add Item</span>
      </div>
    </a>
  </div>

  <div class='header-bottom header-list'>

    {% comment %}
    <a href='/pages/creator-referrals'>
        <div class='image-container'>
          <svg id="fi_4129721" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="m73.143 487.5a73.255 73.255 0 0 0 71.357-57.141h223a73.116 73.116 0 1 0 49.527-85.814l-111.508-193.133a73.143 73.143 0 1 0 -99.039 0l-111.506 193.133a73.145 73.145 0 1 0 -21.831 142.955zm406.857-73.141a41.143 41.143 0 1 1 -41.143-41.143 41.19 41.19 0 0 1 41.143 41.143zm-224-357.859a41.143 41.143 0 1 1 -41.143 41.143 41.19 41.19 0 0 1 41.143-41.143zm-21.832 110.955a73.25 73.25 0 0 0 43.663 0l111.506 193.133a73.156 73.156 0 0 0 -21.837 37.771h-223a73.15 73.15 0 0 0 -21.839-37.771zm-161.025 205.761a41.143 41.143 0 1 1 -41.143 41.143 41.189 41.189 0 0 1 41.143-41.143z"></path></svg>
        </div>
        <div class='title-container'>
          <span>Referrals</span>
        </div>
    </a>
    {% endcomment %}
    
    <a href='/pages/creator-settings'>
      <div class='image-container'>
        <svg id="fi_2099058" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m272.066 512h-32.133c-25.989 0-47.134-21.144-47.134-47.133v-10.871c-11.049-3.53-21.784-7.986-32.097-13.323l-7.704 7.704c-18.659 18.682-48.548 18.134-66.665-.007l-22.711-22.71c-18.149-18.129-18.671-48.008.006-66.665l7.698-7.698c-5.337-10.313-9.792-21.046-13.323-32.097h-10.87c-25.988 0-47.133-21.144-47.133-47.133v-32.134c0-25.989 21.145-47.133 47.134-47.133h10.87c3.531-11.05 7.986-21.784 13.323-32.097l-7.704-7.703c-18.666-18.646-18.151-48.528.006-66.665l22.713-22.712c18.159-18.184 48.041-18.638 66.664.006l7.697 7.697c10.313-5.336 21.048-9.792 32.097-13.323v-10.87c0-25.989 21.144-47.133 47.134-47.133h32.133c25.989 0 47.133 21.144 47.133 47.133v10.871c11.049 3.53 21.784 7.986 32.097 13.323l7.704-7.704c18.659-18.682 48.548-18.134 66.665.007l22.711 22.71c18.149 18.129 18.671 48.008-.006 66.665l-7.698 7.698c5.337 10.313 9.792 21.046 13.323 32.097h10.87c25.989 0 47.134 21.144 47.134 47.133v32.134c0 25.989-21.145 47.133-47.134 47.133h-10.87c-3.531 11.05-7.986 21.784-13.323 32.097l7.704 7.704c18.666 18.646 18.151 48.528-.006 66.665l-22.713 22.712c-18.159 18.184-48.041 18.638-66.664-.006l-7.697-7.697c-10.313 5.336-21.048 9.792-32.097 13.323v10.871c0 25.987-21.144 47.131-47.134 47.131zm-106.349-102.83c14.327 8.473 29.747 14.874 45.831 19.025 6.624 1.709 11.252 7.683 11.252 14.524v22.148c0 9.447 7.687 17.133 17.134 17.133h32.133c9.447 0 17.134-7.686 17.134-17.133v-22.148c0-6.841 4.628-12.815 11.252-14.524 16.084-4.151 31.504-10.552 45.831-19.025 5.895-3.486 13.4-2.538 18.243 2.305l15.688 15.689c6.764 6.772 17.626 6.615 24.224.007l22.727-22.726c6.582-6.574 6.802-17.438.006-24.225l-15.695-15.695c-4.842-4.842-5.79-12.348-2.305-18.242 8.473-14.326 14.873-29.746 19.024-45.831 1.71-6.624 7.684-11.251 14.524-11.251h22.147c9.447 0 17.134-7.686 17.134-17.133v-32.134c0-9.447-7.687-17.133-17.134-17.133h-22.147c-6.841 0-12.814-4.628-14.524-11.251-4.151-16.085-10.552-31.505-19.024-45.831-3.485-5.894-2.537-13.4 2.305-18.242l15.689-15.689c6.782-6.774 6.605-17.634.006-24.225l-22.725-22.725c-6.587-6.596-17.451-6.789-24.225-.006l-15.694 15.695c-4.842 4.843-12.35 5.791-18.243 2.305-14.327-8.473-29.747-14.874-45.831-19.025-6.624-1.709-11.252-7.683-11.252-14.524v-22.15c0-9.447-7.687-17.133-17.134-17.133h-32.133c-9.447 0-17.134 7.686-17.134 17.133v22.148c0 6.841-4.628 12.815-11.252 14.524-16.084 4.151-31.504 10.552-45.831 19.025-5.896 3.485-13.401 2.537-18.243-2.305l-15.688-15.689c-6.764-6.772-17.627-6.615-24.224-.007l-22.727 22.726c-6.582 6.574-6.802 17.437-.006 24.225l15.695 15.695c4.842 4.842 5.79 12.348 2.305 18.242-8.473 14.326-14.873 29.746-19.024 45.831-1.71 6.624-7.684 11.251-14.524 11.251h-22.148c-9.447.001-17.134 7.687-17.134 17.134v32.134c0 9.447 7.687 17.133 17.134 17.133h22.147c6.841 0 12.814 4.628 14.524 11.251 4.151 16.085 10.552 31.505 19.024 45.831 3.485 5.894 2.537 13.4-2.305 18.242l-15.689 15.689c-6.782 6.774-6.605 17.634-.006 24.225l22.725 22.725c6.587 6.596 17.451 6.789 24.225.006l15.694-15.695c3.568-3.567 10.991-6.594 18.244-2.304z"></path><path d="m256 367.4c-61.427 0-111.4-49.974-111.4-111.4s49.973-111.4 111.4-111.4 111.4 49.974 111.4 111.4-49.973 111.4-111.4 111.4zm0-192.8c-44.885 0-81.4 36.516-81.4 81.4s36.516 81.4 81.4 81.4 81.4-36.516 81.4-81.4-36.515-81.4-81.4-81.4z"></path></svg>
      </div>
      <div class='title-container'>
        <span>Settings</span>
      </div>
    </a>
    
  </div>
  
</div>
{% else %}
<div class='wv-custom-header wv-custom-header-public'>
  
  <div class='header-top header-list'>
    
    <a href='/'>
      <div class='image-container'>
        <svg height="511pt" viewBox="0 1 511 511.999" width="511pt" xmlns="http://www.w3.org/2000/svg" id="fi_1946488"><path d="m498.699219 222.695312c-.015625-.011718-.027344-.027343-.039063-.039062l-208.855468-208.847656c-8.902344-8.90625-20.738282-13.808594-33.328126-13.808594-12.589843 0-24.425781 4.902344-33.332031 13.808594l-208.746093 208.742187c-.070313.070313-.144532.144531-.210938.214844-18.28125 18.386719-18.25 48.21875.089844 66.558594 8.378906 8.382812 19.441406 13.234375 31.273437 13.746093.484375.046876.96875.070313 1.457031.070313h8.320313v153.695313c0 30.417968 24.75 55.164062 55.167969 55.164062h81.710937c8.285157 0 15-6.71875 15-15v-120.5c0-13.878906 11.292969-25.167969 25.171875-25.167969h48.195313c13.878906 0 25.167969 11.289063 25.167969 25.167969v120.5c0 8.28125 6.714843 15 15 15h81.710937c30.421875 0 55.167969-24.746094 55.167969-55.164062v-153.695313h7.71875c12.585937 0 24.421875-4.902344 33.332031-13.8125 18.359375-18.367187 18.367187-48.253906.027344-66.632813zm-21.242188 45.421876c-3.238281 3.238281-7.542969 5.023437-12.117187 5.023437h-22.71875c-8.285156 0-15 6.714844-15 15v168.695313c0 13.875-11.289063 25.164062-25.167969 25.164062h-66.710937v-105.5c0-30.417969-24.746094-55.167969-55.167969-55.167969h-48.195313c-30.421875 0-55.171875 24.75-55.171875 55.167969v105.5h-66.710937c-13.875 0-25.167969-11.289062-25.167969-25.164062v-168.695313c0-8.285156-6.714844-15-15-15h-22.328125c-.234375-.015625-.464844-.027344-.703125-.03125-4.46875-.078125-8.660156-1.851563-11.800781-4.996094-6.679688-6.679687-6.679688-17.550781 0-24.234375.003906 0 .003906-.003906.007812-.007812l.011719-.011719 208.847656-208.839844c3.234375-3.238281 7.535157-5.019531 12.113281-5.019531 4.574219 0 8.875 1.78125 12.113282 5.019531l208.800781 208.796875c.03125.03125.066406.0625.097656.09375 6.644531 6.691406 6.632813 17.539063-.03125 24.207032zm0 0"></path></svg>
      </div>
      <div class='title-container'>
        <span>Home</span>
      </div>
    </a>

    {% comment %}
    <a href='/pages/profile'>
      <div class='image-container'>
          <svg viewBox="-42 0 512 512.001" xmlns="http://www.w3.org/2000/svg" id="fi_1077063"><path d="m210.351562 246.632812c33.882813 0 63.21875-12.152343 87.195313-36.128906 23.96875-23.972656 36.125-53.304687 36.125-87.191406 0-33.875-12.152344-63.210938-36.128906-87.191406-23.976563-23.96875-53.3125-36.121094-87.191407-36.121094-33.886718 0-63.21875 12.152344-87.191406 36.125s-36.128906 53.308594-36.128906 87.1875c0 33.886719 12.15625 63.222656 36.128906 87.195312 23.980469 23.96875 53.316406 36.125 87.191406 36.125zm-65.972656-189.292968c18.394532-18.394532 39.972656-27.335938 65.972656-27.335938 25.996094 0 47.578126 8.941406 65.976563 27.335938 18.394531 18.398437 27.339844 39.980468 27.339844 65.972656 0 26-8.945313 47.578125-27.339844 65.976562-18.398437 18.398438-39.980469 27.339844-65.976563 27.339844-25.992187 0-47.570312-8.945312-65.972656-27.339844-18.398437-18.394531-27.34375-39.976562-27.34375-65.976562 0-25.992188 8.945313-47.574219 27.34375-65.972656zm0 0"></path><path d="m426.128906 393.703125c-.691406-9.976563-2.089844-20.859375-4.148437-32.351563-2.078125-11.578124-4.753907-22.523437-7.957031-32.527343-3.3125-10.339844-7.808594-20.550781-13.375-30.335938-5.769532-10.15625-12.550782-19-20.160157-26.277343-7.957031-7.613282-17.699219-13.734376-28.964843-18.199219-11.226563-4.441407-23.667969-6.691407-36.976563-6.691407-5.226563 0-10.28125 2.144532-20.042969 8.5-6.007812 3.917969-13.035156 8.449219-20.878906 13.460938-6.707031 4.273438-15.792969 8.277344-27.015625 11.902344-10.949219 3.542968-22.066406 5.339844-33.042969 5.339844-10.96875 0-22.085937-1.796876-33.042968-5.339844-11.210938-3.621094-20.300782-7.625-26.996094-11.898438-7.769532-4.964844-14.800782-9.496094-20.898438-13.46875-9.753906-6.355468-14.808594-8.5-20.035156-8.5-13.3125 0-25.75 2.253906-36.972656 6.699219-11.257813 4.457031-21.003906 10.578125-28.96875 18.199219-7.609375 7.28125-14.390625 16.121094-20.15625 26.273437-5.558594 9.785157-10.058594 19.992188-13.371094 30.339844-3.199219 10.003906-5.875 20.945313-7.953125 32.523437-2.0625 11.476563-3.457031 22.363282-4.148437 32.363282-.679688 9.777344-1.023438 19.953125-1.023438 30.234375 0 26.726562 8.496094 48.363281 25.25 64.320312 16.546875 15.746094 38.4375 23.730469 65.066406 23.730469h246.53125c26.621094 0 48.511719-7.984375 65.0625-23.730469 16.757813-15.945312 25.253906-37.589843 25.253906-64.324219-.003906-10.316406-.351562-20.492187-1.035156-30.242187zm-44.90625 72.828125c-10.933594 10.40625-25.449218 15.464844-44.378906 15.464844h-246.527344c-18.933594 0-33.449218-5.058594-44.378906-15.460938-10.722656-10.207031-15.933594-24.140625-15.933594-42.585937 0-9.59375.316406-19.066407.949219-28.160157.617187-8.921874 1.878906-18.722656 3.75-29.136718 1.847656-10.285156 4.199219-19.9375 6.996094-28.675782 2.683593-8.378906 6.34375-16.675781 10.882812-24.667968 4.332031-7.617188 9.316407-14.152344 14.816407-19.417969 5.144531-4.925781 11.628906-8.957031 19.269531-11.980469 7.066406-2.796875 15.007812-4.328125 23.628906-4.558594 1.050781.558594 2.921875 1.625 5.953125 3.601563 6.167969 4.019531 13.277344 8.605469 21.136719 13.625 8.859375 5.648437 20.273437 10.75 33.910156 15.152344 13.941406 4.507812 28.160156 6.796875 42.273437 6.796875 14.113282 0 28.335938-2.289063 42.269532-6.792969 13.648437-4.410156 25.058594-9.507813 33.929687-15.164063 8.042969-5.140624 14.953125-9.59375 21.121094-13.617187 3.03125-1.972656 4.902344-3.042969 5.953125-3.601563 8.625.230469 16.566406 1.761719 23.636719 4.558594 7.636719 3.023438 14.121093 7.058594 19.265625 11.980469 5.5 5.261719 10.484375 11.796875 14.816406 19.421875 4.542969 7.988281 8.207031 16.289062 10.886719 24.660156 2.800781 8.75 5.15625 18.398438 7 28.675782 1.867187 10.433593 3.132812 20.238281 3.75 29.144531v.007812c.636719 9.058594.957031 18.527344.960937 28.148438-.003906 18.449219-5.214844 32.378906-15.9375 42.582031zm0 0"></path></svg>
      </div>
      <div class='title-container'>
        <span>Profile</span>
      </div>
    </a>
  {% endcomment %}
  
    <a href='/pages/worn-vault'>
      <div class='image-container'>
        <svg id="fi_7583733" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m428.529 47.731h-345.058c-46.027 0-83.471 37.444-83.471 83.47v333.068h512v-333.068c0-46.026-37.444-83.47-83.471-83.47zm53.471 83.47v47.233h-30.39v-78.211c0-6.606-1.239-12.925-3.476-18.753 19.81 7.838 33.866 27.168 33.866 49.731zm-301.164 77.234v28.805h-150.836v-28.805zm30 0h90.328v45.536c0 24.903-20.261 45.164-45.164 45.164s-45.164-20.26-45.164-45.164zm-121.402 58.804h92.599c6.288 35.135 37.051 61.895 73.967 61.895s67.68-26.759 73.967-61.895h92.599v78.575c-12.193 4.44-21.886 14.132-26.325 26.325h-280.482c-4.439-12.193-14.132-21.885-26.325-26.325zm241.73-30v-28.805h150.836v28.805zm67.953-159.508c12.402 0 22.493 10.09 22.493 22.493v78.211h-331.22v-78.211c0-12.402 10.091-22.493 22.493-22.493zm-335.251 3.739c-2.237 5.828-3.476 12.147-3.476 18.753v78.211h-30.39v-47.233c0-22.563 14.056-41.893 33.866-49.731zm-33.866 352.799v-167.03h29.434v105.94h15c7.698 0 13.961 6.263 13.961 13.96v15h335.211v-15c0-7.698 6.263-13.96 13.961-13.96h15v-105.94h29.433v167.03z"></path><path d="m240.793 233.975h30v30h-30z"></path></g></svg>
      </div>
      <div class='title-container'>
        <span>Worn Vault</span>
      </div>
    </a>
    
    <a href='/pages/favourites'>
      <div class='image-container'>
        <svg id="fi_2956792" height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg" data-name="Layer 3"><path d="m23.479 29.691a2.325 2.325 0 0 1 -1.089-.27l-6.233-3.276a.333.333 0 0 0 -.314 0l-6.232 3.276a2.338 2.338 0 0 1 -3.393-2.465l1.19-6.939a.337.337 0 0 0 -.1-.3l-5.038-4.917a2.338 2.338 0 0 1 1.3-3.989l6.963-1.011a.337.337 0 0 0 .254-.185l3.113-6.315a2.337 2.337 0 0 1 4.193 0l3.115 6.313a.34.34 0 0 0 .254.185l6.969 1.012a2.339 2.339 0 0 1 1.3 3.989l-5.043 4.914a.339.339 0 0 0 -.1.3l1.19 6.939a2.341 2.341 0 0 1 -2.3 2.735zm-7.479-5.586a2.325 2.325 0 0 1 1.088.27l6.232 3.275a.321.321 0 0 0 .356-.025.325.325 0 0 0 .135-.331l-1.191-6.94a2.343 2.343 0 0 1 .672-2.069l5.043-4.915a.338.338 0 0 0 -.188-.576l-6.968-1.013a2.335 2.335 0 0 1 -1.76-1.279l-3.119-6.314a.338.338 0 0 0 -.606 0l-3.113 6.312a2.335 2.335 0 0 1 -1.761 1.279l-6.967 1.015a.337.337 0 0 0 -.187.576l5.042 4.915a2.343 2.343 0 0 1 .672 2.069l-1.191 6.94a.338.338 0 0 0 .492.356l6.231-3.276a2.335 2.335 0 0 1 1.088-.269z"></path></svg>
      </div>
      <div class='title-container'>
        <span>Favourites</span>
      </div>
    </a>

    <a class='cart-header-container' href='/cart'>
      <div class='image-container'>
        <div class='cart-qty-container'>
          <span id='header-cart-count'>{{ cart.item_count }}</span>
        </div>
        <svg id="fi_9219671" enable-background="new 0 0 64 64" height="512" viewBox="0 0 64 64" width="512" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m25.308 61.679c-3.514 0-6.373-2.859-6.373-6.373s2.859-6.372 6.373-6.372 6.373 2.858 6.373 6.372-2.859 6.373-6.373 6.373zm0-8.745c-1.308 0-2.373 1.064-2.373 2.372 0 1.309 1.064 2.373 2.373 2.373s2.373-1.064 2.373-2.373c0-1.308-1.064-2.372-2.373-2.372z"></path><path d="m47.462 61.679c-3.514 0-6.372-2.859-6.372-6.373s2.858-6.372 6.372-6.372 6.373 2.858 6.373 6.372-2.86 6.373-6.373 6.373zm0-8.745c-1.308 0-2.372 1.064-2.372 2.372 0 1.309 1.064 2.373 2.372 2.373 1.309 0 2.373-1.064 2.373-2.373 0-1.308-1.065-2.372-2.373-2.372z"></path></g><path d="m52.128 43.994h-31.419c-3.057 0-5.668-2.081-6.35-5.061l-6.521-28.477c-.086-.376-.346-.698-.696-.86l-5.409-2.507c-1.252-.58-1.797-2.066-1.217-3.319.58-1.252 2.067-1.797 3.319-1.217l5.409 2.507c1.743.807 3.04 2.407 3.468 4.28l6.521 28.479c.158.692.765 1.176 1.476 1.176h31.419c.708 0 1.314-.481 1.476-1.171l5.07-21.813c.145-.62-.119-1.071-.288-1.284-.17-.214-.55-.572-1.186-.572h-37c-1.381 0-2.5-1.119-2.5-2.5s1.119-2.5 2.5-2.5h37c1.999 0 3.857.897 5.101 2.462s1.696 3.579 1.244 5.526l-5.071 21.814c-.691 2.965-3.3 5.037-6.346 5.037z"></path></g></svg>
      </div>
      <div class='title-container'>
        <span>Cart</span>
      </div>
    </a>
    
  </div>

  <div class='header-bottom header-list'>

    {% comment %}
    <a href='/pages/referrals'>
        <div class='image-container'>
          <svg id="fi_4129721" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="m73.143 487.5a73.255 73.255 0 0 0 71.357-57.141h223a73.116 73.116 0 1 0 49.527-85.814l-111.508-193.133a73.143 73.143 0 1 0 -99.039 0l-111.506 193.133a73.145 73.145 0 1 0 -21.831 142.955zm406.857-73.141a41.143 41.143 0 1 1 -41.143-41.143 41.19 41.19 0 0 1 41.143 41.143zm-224-357.859a41.143 41.143 0 1 1 -41.143 41.143 41.19 41.19 0 0 1 41.143-41.143zm-21.832 110.955a73.25 73.25 0 0 0 43.663 0l111.506 193.133a73.156 73.156 0 0 0 -21.837 37.771h-223a73.15 73.15 0 0 0 -21.839-37.771zm-161.025 205.761a41.143 41.143 0 1 1 -41.143 41.143 41.189 41.189 0 0 1 41.143-41.143z"></path></svg>
        </div>
        <div class='title-container'>
          <span>Referrals</span>
        </div>
    </a>
    {% endcomment %}

    <a class='creator-profile-link' href='/pages/creator-profile'>
      <div class='image-container'>
        <svg id="fi_4922156" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><circle cx="331.984" cy="340" r="20"></circle><circle cx="331.984" cy="20" r="20"></circle><path d="m17.56 494.41c23.453 23.452 61.392 23.455 84.848 0l272-271.987c23.392-23.392 23.392-61.454 0-84.847-23.393-23.393-61.455-23.393-84.848 0l-272 271.987c-23.392 23.393-23.392 61.455 0 84.847zm28.285-56.563 272-271.987c7.794-7.796 20.482-7.797 28.277 0 7.797 7.796 7.797 20.482 0 28.278l-272 271.987c-7.82 7.82-20.457 7.821-28.277 0-7.797-7.796-7.797-20.481 0-28.278z"></path><path d="m471.984 340v-20h20c11.046 0 20-8.954 20-20s-8.954-20-20-20h-20v-20c0-11.046-8.954-20-20-20s-20 8.954-20 20v20h-20c-11.046 0-20 8.954-20 20s8.954 20 20 20h20v20c0 11.046 8.954 20 20 20s20-8.954 20-20z"></path><path d="m491.984 40h-20v-20c0-11.046-8.954-20-20-20s-20 8.954-20 20v20h-20c-11.046 0-20 8.954-20 20s8.954 20 20 20h20v20c0 11.046 8.954 20 20 20s20-8.954 20-20v-20h20c11.046 0 20-8.954 20-20s-8.954-20-20-20z"></path><path d="m211.984 0c-11.046 0-20 8.954-20 20v20h-20c-11.046 0-20 8.954-20 20s8.954 20 20 20h20v20c0 11.046 8.954 20 20 20s20-8.954 20-20v-20h20c11.046 0 20-8.954 20-20s-8.954-20-20-20h-20v-20c0-11.046-8.954-20-20-20z"></path></g></svg>
      </div>
      <div class='title-container'>
        <span>Creator Mode</span>
      </div>
    </a>
    
    <a href='/pages/settings'>
      <div class='image-container'>
        <svg id="fi_2099058" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m272.066 512h-32.133c-25.989 0-47.134-21.144-47.134-47.133v-10.871c-11.049-3.53-21.784-7.986-32.097-13.323l-7.704 7.704c-18.659 18.682-48.548 18.134-66.665-.007l-22.711-22.71c-18.149-18.129-18.671-48.008.006-66.665l7.698-7.698c-5.337-10.313-9.792-21.046-13.323-32.097h-10.87c-25.988 0-47.133-21.144-47.133-47.133v-32.134c0-25.989 21.145-47.133 47.134-47.133h10.87c3.531-11.05 7.986-21.784 13.323-32.097l-7.704-7.703c-18.666-18.646-18.151-48.528.006-66.665l22.713-22.712c18.159-18.184 48.041-18.638 66.664.006l7.697 7.697c10.313-5.336 21.048-9.792 32.097-13.323v-10.87c0-25.989 21.144-47.133 47.134-47.133h32.133c25.989 0 47.133 21.144 47.133 47.133v10.871c11.049 3.53 21.784 7.986 32.097 13.323l7.704-7.704c18.659-18.682 48.548-18.134 66.665.007l22.711 22.71c18.149 18.129 18.671 48.008-.006 66.665l-7.698 7.698c5.337 10.313 9.792 21.046 13.323 32.097h10.87c25.989 0 47.134 21.144 47.134 47.133v32.134c0 25.989-21.145 47.133-47.134 47.133h-10.87c-3.531 11.05-7.986 21.784-13.323 32.097l7.704 7.704c18.666 18.646 18.151 48.528-.006 66.665l-22.713 22.712c-18.159 18.184-48.041 18.638-66.664-.006l-7.697-7.697c-10.313 5.336-21.048 9.792-32.097 13.323v10.871c0 25.987-21.144 47.131-47.134 47.131zm-106.349-102.83c14.327 8.473 29.747 14.874 45.831 19.025 6.624 1.709 11.252 7.683 11.252 14.524v22.148c0 9.447 7.687 17.133 17.134 17.133h32.133c9.447 0 17.134-7.686 17.134-17.133v-22.148c0-6.841 4.628-12.815 11.252-14.524 16.084-4.151 31.504-10.552 45.831-19.025 5.895-3.486 13.4-2.538 18.243 2.305l15.688 15.689c6.764 6.772 17.626 6.615 24.224.007l22.727-22.726c6.582-6.574 6.802-17.438.006-24.225l-15.695-15.695c-4.842-4.842-5.79-12.348-2.305-18.242 8.473-14.326 14.873-29.746 19.024-45.831 1.71-6.624 7.684-11.251 14.524-11.251h22.147c9.447 0 17.134-7.686 17.134-17.133v-32.134c0-9.447-7.687-17.133-17.134-17.133h-22.147c-6.841 0-12.814-4.628-14.524-11.251-4.151-16.085-10.552-31.505-19.024-45.831-3.485-5.894-2.537-13.4 2.305-18.242l15.689-15.689c6.782-6.774 6.605-17.634.006-24.225l-22.725-22.725c-6.587-6.596-17.451-6.789-24.225-.006l-15.694 15.695c-4.842 4.843-12.35 5.791-18.243 2.305-14.327-8.473-29.747-14.874-45.831-19.025-6.624-1.709-11.252-7.683-11.252-14.524v-22.15c0-9.447-7.687-17.133-17.134-17.133h-32.133c-9.447 0-17.134 7.686-17.134 17.133v22.148c0 6.841-4.628 12.815-11.252 14.524-16.084 4.151-31.504 10.552-45.831 19.025-5.896 3.485-13.401 2.537-18.243-2.305l-15.688-15.689c-6.764-6.772-17.627-6.615-24.224-.007l-22.727 22.726c-6.582 6.574-6.802 17.437-.006 24.225l15.695 15.695c4.842 4.842 5.79 12.348 2.305 18.242-8.473 14.326-14.873 29.746-19.024 45.831-1.71 6.624-7.684 11.251-14.524 11.251h-22.148c-9.447.001-17.134 7.687-17.134 17.134v32.134c0 9.447 7.687 17.133 17.134 17.133h22.147c6.841 0 12.814 4.628 14.524 11.251 4.151 16.085 10.552 31.505 19.024 45.831 3.485 5.894 2.537 13.4-2.305 18.242l-15.689 15.689c-6.782 6.774-6.605 17.634-.006 24.225l22.725 22.725c6.587 6.596 17.451 6.789 24.225.006l15.694-15.695c3.568-3.567 10.991-6.594 18.244-2.304z"></path><path d="m256 367.4c-61.427 0-111.4-49.974-111.4-111.4s49.973-111.4 111.4-111.4 111.4 49.974 111.4 111.4-49.973 111.4-111.4 111.4zm0-192.8c-44.885 0-81.4 36.516-81.4 81.4s36.516 81.4 81.4 81.4 81.4-36.516 81.4-81.4-36.515-81.4-81.4-81.4z"></path></svg>
      </div>
      <div class='title-container'>
        <span>Settings</span>
      </div>
    </a>
    
  </div>
  
</div>
{% endif %}

<script>

// Global update cart function
async function updateCartCount() {
  try {
    document.querySelector('.wv-custom-header .cart-header-container .image-container .cart-qty-container span').style.color = 'var(--off-black)';
    document.querySelector('.wv-custom-header .cart-header-container .image-container .cart-qty-container span').style.opacity = '0';
    
    const res = await fetch('/cart.js');
    const cart = await res.json();

    const count = cart.item_count;
    // console.log('Current cart count: ', count);
    document.getElementById('header-cart-count').textContent = count;

    document.querySelector('.wv-custom-header .cart-header-container .image-container .cart-qty-container span').style.color = 'var(--off-black)';
    document.querySelector('.wv-custom-header .cart-header-container .image-container .cart-qty-container span').style.opacity = '1';    
  } catch (err) {
    console.error('Error updating cart count:', err);
  };
};
{% comment %} document.addEventListener('DOMContentLoaded', () => {
  setTimeout(() => {
    updateCartCount();
  }, 100);
}); {% endcomment %}

// global func to display added to cart popup
function addedItemToCart(cartItem) {
  console.log('Going to display the following:', cartItem.product_title, cartItem.featured_image.url );

  if (!cartItem.product_title || !cartItem.featured_image.url) {
    console.log('Added to cart popup missing values: ', cartItem.product_title, cartItem.featured_image.url);
    return;
  };

  const container = document.querySelector('#added-to-cart-popup');
  const title = document.querySelector('#added-to-cart-popup  div h6');
  const imgSrc = document.querySelector('#added-to-cart-popup > img');

  title.textContent = cartItem.product_title;
  imgSrc.src = cartItem.featured_image.url;
  imgSrc.alt = cartItem.product_title;

  // give the img a bit of time to load
  setTimeout(() => {
    container.style.top = '10px';
  }, 500);

  setTimeout(() => {
    container.style.top = '-182px';
  }, 4500);
};
</script>

{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header",
  "class": "header-section",
  "settings": [],
  "presets": []
}
{% endschema %}