<style>
#wv-creator-settings {
  padding: 1rem 0rem;
}  
#wv-creator-settings .title {
  font-family: var(--main-heading-font-family);
  font-size: var(--main-heading-font-size);
}
</style>
<div id='wv-creator-settings'>
  <h1 class='title'>Settings</h1>
</div>
{% schema %}
  {
    "name": "WV Creator Settings",
    "settings": [],
    "presets": [
      {
        "name": "WV Creator Settings",
      }
    ]
  }
{% endschema %}