{% assign is_creator = false %}
{% if customer and customer.metafields.custom.creator_page %}
  {% assign is_creator = true %}
{% endif %}

{% if is_creator %}
<style>
#wv-creator-new-item {
  padding: 1rem 0;
}
#wv-creator-new-item .title {
  font-family: var(--main-heading-font-family);
  font-size: var(--main-heading-font-size);
}
#wv-creator-new-item input,
#wv-creator-new-item textarea {
    font-size: var(--small-font-size) !important;
}
#wv-creator-new-item form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 1rem;
}
#wv-creator-new-item label {
  font-weight: bold;
  min-width: 79px;
}
#wv-creator-new-item input,
#wv-creator-new-item textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--off-black);
}
#wv-creator-new-item .item-name-container input {
  width: 100%;
}
#wv-creator-new-item .description-container {
  display: none;
}
#wv-creator-new-item .description-container textarea {
  width: 100%;
  resize: vertical;
  max-height: 300px;
  min-height: 100px;
}
#wv-creator-new-item .price-container,
#wv-creator-new-item .date-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
#wv-creator-new-item .date-container input {
  cursor: pointer;
}

/* link list */
#wv-creator-new-item .worn-links-container {
 padding: 15px 0px; 

}
#wv-creator-new-item .worn-links-container .top {
  display: flex;
  gap: 10px;
  align-items: center;
}
#wv-creator-new-item .worn-links-container .top > div {
  display: flex;
  gap: 5px;
  align-items: center;
}
#wv-creator-new-item .worn-links-container .top svg {
  height: 35px;
  width: 35px;
  cursor: pointer;
  border: 1px solid;
  padding: 4px;
  border-radius: 5px;
}
#wv-creator-new-item .worn-links-container .worn-links-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
#wv-creator-new-item .worn-links-container .worn-links-list .template {
  display: none !important;
}
#wv-creator-new-item .worn-links-container .worn-links-list .link-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  border: 1px solid;
  padding: 5px 7px;
  border-radius: 5px;
  height: 40px;
}
#wv-creator-new-item .worn-links-container .worn-links-list .link-container p {
  margin: 0;
  padding: 0;
}
#wv-creator-new-item .worn-links-container .worn-links-list .link-container svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
#wv-creator-new-item .worn-links-container .worn-links-list .link-container button {
  cursor: pointer;
}
#wv-creator-new-item .worn-links-container .worn-links-list .link-container button svg {
  height: 15px;
  width: 15px;
  padding: 3px;
  border-radius: 5px;
}
  
/* photos input */
#wv-creator-new-item .photos-input-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
#wv-creator-new-item #new-item-photos {
  cursor: pointer;
}
#wv-creator-new-item .photo-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}
#wv-creator-new-item .photo-preview {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  overflow: hidden;
}
#wv-creator-new-item .photo-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wv-creator-new-item .photo-preview .delete-photo {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0,0,0,0.7);
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wv-creator-new-item .submit-btn {
  padding: 12px 30px;
  border-radius: 5px;
  background: var(--off-black);
  color: var(--off-white);
  font-weight: bold;
  font-family: var(--main-heading-font-family);
  font-size: 25px;
  border: none;
  cursor: pointer;
  min-width: 200px; 
}

/* thank you */
#wv-creator-new-item .completion-container {
  padding: 1rem;
  display: none;
}
#wv-creator-new-item .completion-container button {
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--off-black);
  background: var(--off-black);
  color: var(--off-white);
  font-weight: bold;
}
@media screen and (max-width: 580px) {
  #wv-creator-new-item form {
    gap: 25px;
  }
  #wv-creator-new-item .worn-links-container .top {
    flex-direction: column;
  }
  #wv-creator-new-item #new-item-photos {
    width: 100%;
  }
  #creator-new-item-form .photos-input-container > label {
    min-width: auto;
  }
  #creator-new-item-form .price-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    gap: 0px;
  }
  #item-price {
    width: 100%;
  }
  #worn-link {
    width: 60vw;
  }
  #wv-creator-new-item .submit-btn {
    min-width: 170px;
    font-size: 16px;
    width: fit-content;
    margin: 0 auto;
  }
}
</style>

<div id='wv-creator-new-item'>
  <h1 class='title'>New Item</h1>

  <form id="creator-new-item-form">
    <div class='item-name-container input-container'>
      <label for="item-name">Title</label>
      <input type="text" id="item-name" name="name" required />
    </div>

    <div class='price-container input-container'>
      <label for="item-price">Price (USD)</label>
      <input type="number" id="item-price" name="price" step="1" required />
    </div>

    {% comment %}
    <div class='date-container input-container'>
      <label for="item-date">Last Worn</label>
      <input type="date" id="item-date" name="date" required />
    </div>
    {% endcomment %}

    <div class='photos-container input-container'>
      <div class='photos-input-container'>
        <label for="new-item-photos">Photos</label>
        <input type="file" id="new-item-photos" name="photos" accept="image/*" multiple />
      </div>
      <div class="photo-preview-container" id="photo-preview"></div>
    </div>

    <div class='worn-links-container input-container'>
      <div class='top'>
        <label for="worn-link">Links to Online Content</label>
        <div>
          <input id='worn-link' type='url' name='work-link' />
          <svg id='add-link-btn' version="1.1" id="fi_814208" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve"> <g> <g> <path d="M424,184H296V56c0-30.928-25.072-56-56-56c-30.928,0-56,25.072-56,56v128H56c-30.928,0-56,25.072-56,56 c0,30.928,25.072,56,56,56h128v128c0,30.928,25.072,56,56,56c30.928,0,56-25.072,56-56V296h128c30.928,0,56-25.072,56-56 C480,209.072,454.928,184,424,184z M424,280H288c-4.418,0-8,3.582-8,8v136c0,22.091-17.909,40-40,40c-22.091,0-40-17.909-40-40 V288c0-4.418-3.582-8-8-8H56c-22.091,0-40-17.909-40-40s17.909-40,40-40h136c4.418,0,8-3.582,8-8V56c0-22.091,17.909-40,40-40 c22.091,0,40,17.909,40,40v136c0,4.418,3.582,8,8,8h136c22.091,0,40,17.909,40,40S446.091,280,424,280z"></path> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
        </div>
      </div>
      <div class='worn-links-list'>
        <div class='link-container template'>
          <svg id="fi_2985013" enable-background="new 0 0 64 64" height="512" viewBox="0 0 64 64" width="512" xmlns="http://www.w3.org/2000/svg"><g><g id="ARC_176_"><g><path d="m36.243 29.758c-.512 0-1.024-.195-1.414-.586-3.119-3.119-8.194-3.12-11.314 0-.78.781-2.048.781-2.828 0-.781-.781-.781-2.047 0-2.828 4.679-4.68 12.292-4.679 16.97 0 .781.781.781 2.047 0 2.828-.39.391-.903.586-1.414.586z"></path></g></g><g id="ARC_175_"><g><path d="m34.829 41.167c-3.073 0-6.146-1.17-8.485-3.509-.781-.781-.781-2.047 0-2.828.78-.781 2.048-.781 2.828 0 3.119 3.119 8.194 3.12 11.314 0 .78-.781 2.048-.781 2.828 0 .781.781.781 2.047 0 2.828-2.34 2.339-5.413 3.509-8.485 3.509z"></path></g></g><g id="LINE_273_"><g><path d="m41.899 38.243c-.512 0-1.024-.195-1.414-.586-.781-.781-.781-2.047 0-2.828l11.172-11.172c.78-.781 2.048-.781 2.828 0 .781.781.781 2.047 0 2.828l-11.172 11.172c-.39.391-.902.586-1.414.586z"></path></g></g><g id="LINE_272_"><g><path d="m25.071 55.071c-.512 0-1.024-.195-1.414-.586-.781-.781-.781-2.047 0-2.828l6.245-6.245c.78-.781 2.048-.781 2.828 0 .781.781.781 2.047 0 2.828l-6.245 6.245c-.39.391-.902.586-1.414.586z"></path></g></g><g id="LINE_271_"><g><path d="m10.929 40.929c-.512 0-1.024-.195-1.414-.586-.781-.781-.781-2.047 0-2.828l11.172-11.171c.781-.781 2.048-.781 2.828 0 .781.781.781 2.047 0 2.828l-11.172 11.171c-.391.39-.903.586-1.414.586z"></path></g></g><g id="LINE_270_"><g><path d="m32.684 19.175c-.512 0-1.023-.195-1.414-.585-.781-.781-.781-2.047 0-2.829l6.245-6.246c.781-.781 2.047-.781 2.829 0 .781.781.781 2.047 0 2.829l-6.245 6.246c-.391.389-.904.585-1.415.585z"></path></g></g><g id="ARC_174_"><g><path d="m18 57.935c-3.093 0-6.186-1.15-8.485-3.45-4.6-4.6-4.6-12.371 0-16.971.78-.781 2.048-.781 2.828 0 .781.781.781 2.047 0 2.828-3.066 3.066-3.066 8.248 0 11.314s8.248 3.066 11.314 0c.78-.781 2.048-.781 2.828 0 .781.781.781 2.047 0 2.828-2.299 2.301-5.392 3.451-8.485 3.451z"></path></g></g><g id="ARC_173_"><g><path d="m53.071 27.071c-.512 0-1.024-.195-1.414-.586-.781-.781-.781-2.047 0-2.828 3.066-3.066 3.066-8.248 0-11.314s-8.248-3.066-11.314 0c-.78.781-2.048.781-2.828 0-.781-.781-.781-2.047 0-2.828 4.6-4.6 12.371-4.6 16.971 0s4.6 12.371 0 16.971c-.391.39-.903.585-1.415.585z"></path></g></g></g></svg>
          <p>onlyfans.com...</p>
          <button><svg id="fi_2961937" height="512" viewBox="0 0 64 64" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m4.59 59.41a2 2 0 0 0 2.83 0l24.58-24.58 24.59 24.58a2 2 0 0 0 2.83-2.83l-24.59-24.58 24.58-24.59a2 2 0 0 0 -2.83-2.83l-24.58 24.59-24.59-24.58a2 2 0 0 0 -2.82 2.82l24.58 24.59-24.58 24.59a2 2 0 0 0 0 2.82z"></path></svg></button>
        </div>
      </div>
    </div>

    <div class='description-container input-container'>
      <label for="item-description">Description</label>
      <textarea id="item-description" name="description" rows="4"></textarea>
    </div>

    <button class='submit-btn' type="submit">Submit Item</button>
    <div class="message" id="submission-message"></div>
  </form>

  <div class='completion-container'>
    <h4>Item Received – Thank You!</h4>
    <p>Thanks for submitting your item for review.</p>
    <p>Our team is carefully reviewing your listing to ensure it meets our quality and authenticity standards.</p>
    <p>You’ll hear back from us via email within 24 hours or less.</p>
    <p>We appreciate your patience and your contribution to the vault.</p>
    <a href='/pages/new-item'><button>Submit Another Item</button></a>
  </div>
  
</div>

<script>
// global array of uploaded photos to send to server
const uploadedPhotos = [];

// select and display new item photos
document.getElementById('new-item-photos').addEventListener('change', function(e) {
  
  const files = e.target.files;
  const previewContainer = document.getElementById('photo-preview');
  
  for (let i = 0; i < files.length; i++) {
    const file = files[i];
    
    // only process image files
    if (!file.type.match('image.*')) {
      continue;
    };
    
    const reader = new FileReader();
    
    reader.onload = (function(theFile) {
      return function(e) {
        // Create photo preview
        const photoPreview = document.createElement('div');
        photoPreview.className = 'photo-preview';
        
        const img = document.createElement('img');
        img.src = e.target.result;
        img.title = theFile.name;
        
        const deleteBtn = document.createElement('button');
        deleteBtn.className = 'delete-photo';
        deleteBtn.innerHTML = '×';
        deleteBtn.onclick = function() {
          removePhoto(theFile);
          photoPreview.remove();
        };
        
        photoPreview.appendChild(img);
        photoPreview.appendChild(deleteBtn);
        previewContainer.appendChild(photoPreview);
        
        // store photo data in global array
        uploadedPhotos.push({
          file: theFile,
          preview: e.target.result
        });
      };
    })(file);
    
    reader.readAsDataURL(file);
  }
});

// delete image from form
function removePhoto(fileToRemove) {
  const index = uploadedPhotos.findIndex(photo => photo.file === fileToRemove);
  if (index !== -1) {
    uploadedPhotos.splice(index, 1);
  };
};

// adding links to the link list
const linkInput = document.querySelector('#creator-new-item-form .worn-links-container .top input');
const newLinkTemplate = document.querySelector('#creator-new-item-form .worn-links-container .template');  
const linksListContainer = document.querySelector('#creator-new-item-form .worn-links-list');  
document.getElementById('add-link-btn').addEventListener('click', (e) => {
  e.preventDefault();
  const link = linkInput.value;
  console.log(link);
  if (!link || link.value ==='') {
    linkInput.style.filter = 'brightness(0.5)';
  } else {
    linkInput.style.filter = 'brightness(1)';

    // create new link
    const newLinkContainer = newLinkTemplate.cloneNode(true);
    newLinkContainer.setAttribute('aria-label', `${linkInput.value}`);
    const displayedText = extractRootDomain(linkInput.value);
    newLinkContainer.querySelector('p').textContent = displayedText;
    newLinkContainer.classList.add('user-added-link');

    // remove template class & add ability to remove
    newLinkContainer.classList.remove('template');
    newLinkContainer.addEventListener('click', () => {
      newLinkContainer.remove();
    });
  
    // append to list & remove input value
    linksListContainer.appendChild(newLinkContainer);
    linkInput.value = '';
  };
});

// sending to the server
document.getElementById('creator-new-item-form').addEventListener('submit', async function(e) {
  e.preventDefault();

  const linkElements = document.querySelectorAll('#creator-new-item-form .worn-links-container .user-added-link');
  const ariaLabels = Array.from(linkElements).map(el => el.getAttribute('aria-label'));

  // Create FormData
  const formData = new FormData();
  formData.append('email', "{{ customer.email }}");
  formData.append('title', document.getElementById('item-name').value);
  formData.append('description', document.getElementById('item-description').value);
  formData.append('price', document.getElementById('item-price').value);
  // formData.append('date', document.getElementById('item-date').value);

  // Attach each photo's real File object
  uploadedPhotos.forEach(photoObj => {
    formData.append('photos', photoObj.file);
  });

  // Attach links as individual fields — works best with Express & multer
  if (ariaLabels.length > 0) {
    ariaLabels.forEach(link => formData.append('links', link));
  }

  // Debug what is being sent
  for (let [key, value] of formData.entries()) {
    console.log(`${key}:`, value);
  }

  // Submit using fetch
  document.querySelector('#creator-new-item-form .submit-btn').textContent = 'Sending...';

  try {
    const response = await fetch('https://server.wornvault.com/creator-new-item', {
      method: 'POST',
      body: formData // ✅ No headers — browser sets them correctly
    });

    const status = await response.json();
    console.log('Response from server:', status);

    if (status.status === 'success') {
      displayPopup();
    } else {
      document.querySelector('#creator-new-item-form .submit-btn').textContent = 'Something went wrong...';
      document.querySelector('#creator-new-item-form .submit-btn').disabled = true;
    }
  } catch (error) {
    console.log('Failed to send object to server:', error);
  }
});

// displays the thank you popup
function displayPopup() {
  document.querySelector('#creator-new-item-form').style.display = 'none';
  document.querySelector('#wv-creator-new-item .completion-container').style.display = 'block';
};

// Callback functions //

function extractRootDomain(url) {
  try {
    // Add protocol if missing to use URL constructor safely
    if (!url.startsWith('http')) {
      url = 'https://' + url;
    }

    const parsed = new URL(url);
    return parsed.hostname + '/';
  } catch (err) {
    console.warn('Invalid URL:', url);
    return '';
  }
};

</script>
{% elsif customer %}
  {% render 'creator-signup-form' %}
{% else %}
  {% render 'creator-login-page' %}
{% endif %}

{% schema %}
  {
    "name": "WV Creator New Item",
    "settings": [],
    "presets": [
      {
        "name": "WV Creator New Item",
      }
    ]
  }
{% endschema %}