<style>
#wv-creator-onboard {
  padding: 1rem 0px 40px 0px;
}
#wv-creator-onboard .title {
  font-family: var(--main-heading-font-family);
  font-size: var(--main-heading-font-size);
}
#wv-creator-onboard .text-container > div {
    margin-bottom: 25px;
}
#wv-creator-onboard a {
    padding: 12px 30px;
    border-radius: 5px;
    background: var(--off-black);
    color: var(--off-white);
    font-weight: bold;
    font-family: var(--main-heading-font-family);
    font-size: 25px;
    border: none;
    cursor: pointer;
    min-width: 200px;
}
@media screen and (max-width: 350px) {
    #wv-creator-onboard a {
        min-width: 160px !important;
        font-size: 18px !important;
    }
}
</style>

<div id='wv-creator-onboard'>
    <div class='text-container'>
        <h3 class='title'>Want to Sell Your Items?</h3>
        <div>
            <p>WornVault was built for creators — we handle the shipping, storage, and buyer management so you don’t have to.</p>
            <p>All you do is wear it, pack it, and drop it off. We take care of the rest.</p>
            <p>🔒 Discreet. Profitable. Hassle-Free.</p>
        </div>
        <a href='/pages/creator-profile'>Become a Seller</a>
    </div>
</div>

{% schema %}
  {
    "name": "WV Creator Onboard",
    "settings": [],
    "presets": [
      {
        "name": "WV Creator Onboard",
      }
    ]
  }
{% endschema %}