{% if customer %}
    <p>Logged in</p>
{% else %}
    <p>Not even logged in bro..</p>
{% endif %}

{% schema %}
  {
    "name": "WV Creator Profile Page",
    "settings": [],
    "presets": [
      {
        "name": "WV Creator Profile Page",
      }
    ]
  }
{% endschema %}