<style>
#wv-customer-tagged-items {
  padding: 1rem 0rem;
}  
#wv-customer-tagged-items .title {
  font-family: var(--main-heading-font-family);
  font-size: var(--main-heading-font-size);
}
#wv-customer-tagged-items .filtered-items {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  gap: 10px;
  width: 100%;
  white-space: nowrap;
  padding-bottom: 1rem;
  padding-left: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: auto;
}
#wv-customer-tagged-items .filtered-items::-webkit-scrollbar {
  height: 20px;
  display: block;
  cursor: pointer;
}
#wv-customer-tagged-items .filtered-items::-webkit-scrollbar-thumb {
  background-color: rgba(26, 26, 26, 0.5);
  border-radius: 6px;
}
#wv-customer-tagged-items .filtered-items::-webkit-scrollbar-track {
  background: transparent;
}
</style>

<div id="wv-customer-tagged-items">
  <h2 class="title">{{ section.settings.section_title }}</h2>

  {% assign tags = "" | split: "" %}
  {% assign raw = section.settings.tag_1 | append: ',' | append: section.settings.tag_2 | append: ',' | append: section.settings.tag_3 %}
  {% assign tags = raw | split: ',' %}

  {% assign clean_tags_string = '' %}
  {% for tag in tags %}
    {% assign clean = tag | strip %}
    {% if clean != blank %}
      {% if clean_tags_string == '' %}
        {% assign clean_tags_string = clean %}
      {% else %}
        {% assign clean_tags_string = clean_tags_string | append: ',' | append: clean %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign clean_tags = clean_tags_string | split: ',' %}

  {% assign collection_handle = section.settings.all_products_collection %}
  {% assign source_collection = collections[collection_handle] %}

  {% if source_collection %}
    {% if source_collection.products_count > 0 %}
      <div class='view-more-left view-more'>

      </div>
      <ul class="filtered-items">
        {% for product in source_collection.products %}
          {% render 'wv-main-product-card', product: product, clean_tags: clean_tags %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}
  
</div>

{% schema %}
  {
    "name": "WV Filtered Collection",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section heading",
        "default": "All Products"
      },
      {
        "type": "collection",
        "id": "all_products_collection",
        "label": "Pick the 'All Product' collection"
      },
      {
        "type": "text",
        "id": "tag_1",
        "label": "Tag 1 (required)"
      },
      {
        "type": "text",
        "id": "tag_2",
        "label": "Tag 2 (if needed)"
      },
      {
        "type": "text",
        "id": "tag_3",
        "label": "Tag 3 (if needed)"
      }
    ],
    "presets": [
      {
        "name": "WV Filtered Collection",
      }
    ]
  }
{% endschema %}