<style>
#wv-homepage-hero {
  padding: 1rem 0rem;
}
#wv-homepage-hero .title {
  font-family: var(--main-heading-font-family);
  font-size: var(--main-heading-font-size);
  margin-top: 0rem;
}
#wv-homepage-hero p {
  margin-bottom: 10px;
}
</style>

<div id='wv-homepage-hero'>
  <h1 class='title'>Buy One-of-a-Kind Items from Your Favorite Creators</h1>
  <h2>Resold, Reworn, Reclaimed. Every Item Tells a Story.</h2>
  <p>Explore our curated collection of authentic, creator-owned items. Every piece is backed by verified profiles and discreet fulfillment.</p>
</div>

{% schema %}
  {
    "name": "WV Homepage Hero",
    "settings": [],
    "presets": [
      {
        "name": "WV Homepage Hero",
      }
    ]
  }
{% endschema %}