<div>

</div>
{% schema %}
{
  "name": "WV Public Listings",
  "settings": [],
  "presets": [
    {
      "name": "WV Public Listings",
      "category": "Product Page"
    }
  ],
  "templates": ["product"]
}
{% endschema %}